#updateForm {
	margin: 10% auto;
	width: 600px;
	max-width: 100%;
}

.updateFormButton {
	border: 0;
	color: #fff;
	background-color: #d33;
	width: 100px;
	height: 30px;
	border-radius: 5px;
}

.updateFormButton:hover {
	background-color: #e11;
}