#updateForm {
	margin: 10% auto;
	width: 600px;
	max-width: 100%;
}

.updateFormButton {
	border: 0;
	color: #fff;
	background-color: #f44336;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	transition-duration: 0.5s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.updateFormButton:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #f44336;
}

#formSuccess, #formFailure {
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	background-color: #4caf50;
	font-size: 16px;
	color: #fff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#formFailure {
	background-color: #f44336;
}