#updateForm {
	margin: 10% auto;
	width: 600px;
	max-width: 100%;
}

.updateFormButton {
	border: 0;
	color: #fff;
	background-color: #d33;
	width: 100px;
	height: 30px;
	border-radius: 5px;
}

.updateFormButton:hover {
	background-color: #e11;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}