{% extends 'navigationbar.html' %}

{% load staticfiles %}

{% block title %}
	<title>Forums</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock %}

{% block custombody %}
	
	<div id="pageHeading">
		<p>Forums</p>
	</div>

	<div class="container">
		
		<div id="addForm">
			<button data-toggle="collapse" data-target="#newThreadForm" id="addNewButton">Add New</button>
			<div id="newThreadForm" class="collapse">
				<form method="post" enctype="multipart/form-data" autocomplete="off">
					{% csrf_token %}
					{% for field in form %}
						<label>{{ field.label }}</label>
						{{ field }}
					{% endfor %}
					<button type="submit">Submit</button>
				</form>
			</div>
		</div>

		<div id="allThreads">
			{% for thread in all_threads %}
				<div id="thread_{{ thread.id }}" class="threads">
					<div class="topThread">
						<p>
							<a href="{{ thread.id }}">{{ thread.topic }}</a> <span style="float: right;">Score: {{ thread.score }}</span>
						</p>
					</div>
					<div class="descriptionThread">
						<p>{{ thread.description}}</p>
					</div>
					<div class="bottomThread">
						<p>
							Posted By: <a href="/accounts/team/{{ thread.posted_by_id }}">{{ thread.posted_by_id }}</a>
							<span style="float: right;">Posted On: {{ thread.posted_on }}</span>
						</p>
					</div>
				</div>
			{% endfor %}
		</div>
	
	</div>

{% endblock %}