{% extends 'navigationbar.html' %}

{% load staticfiles %}

{% block title %}
	<title>Register</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block custombody %}

	<div id="pageHeading">
		<p>Register</p>
	</div>

	<!-- Register here -->
	<div id="register">
		<div class="registerTop">
			<table>
				<tbody>
					<tr>
						<td style="border:0; border-bottom: 1px solid #888; color: #a3dc9c"><a href="../login"><span>LOGIN</span></a></td>
						<td style="border-bottom: 0;"><a href=""><span>REGISTER</span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="registerForm">
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					<div>
						<label>{{ field.label }}</label>
						{{ field }}
						{{ field.errors }}
					</div>
				{% endfor %}
				<button type="submit" name="submit" class="submitButton">Submit</button>
			</form>
		</div>
	</div>
{% endblock %}