db.sqlite3
accounts/__pycache__
accounts/migrations
challenges/__pycache__
challenges/migrations
challenges/uploads
home/__pycache__
home/migrations
minictf/__pycache__
scoreboard/__pycache__
scoreboard/migrations
teams/__pycache__
teams/migrations
forums/__pycache__
forums/migrations
.vscode
.env