{% extends 'navigationbar.html' %}

{% load staticfiles %}

{% block title %}
	<title>Add Challenges</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/addchallenge.css' %}">
{% endblock %}

{% block custombody %}
	<div class="container">
		{% if request.method == 'POST' %}
			{% if success %}
				<div id="success">
					<p>Challenge added</p>
				</div>
			{% else %}
				<div id="failure">
					<p>Some Error Occured</p>
				</div>
			{% endif %}
		{% endif %}
		<div id="addChallenge">
			<h3>Add challenges</h3>
			<form method="post" enctype="multipart/form-data" autocomplete="off">
				{% csrf_token %}
				{% for c in form %}
					<div class="form-group">
						<label>{{ c.label }}</label>
						{{ c }}
					</div>
				{% endfor %}
				<input type="submit" name="add" value="Add" class="btn btn-primary">
			</form>
		</div>
		<p><b>NOTE: Fields marked with (*) are required.</b></p>
		<p><b>NOTE: One one file is uploaded per challenge. If there is more than one file than first compress all files into single file than upload. </b></p>
		<p><b>NOTE: Use admin panel to remove challenge</b></p>
	</div>
{% endblock %}