<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width" , initial-scale=1, viewport-fit="cover">
    <meta name="description" content="Register your team here">
	<title>Challenges</title>

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navigationbar.css' %}">

</head>
<body>

<!-- Navigation bar -->
	<div id="navigationBar">
		<div class="container">
			<div class="navigationBarLeft">
				<ul>
					<li><a href="#">MiniCTF</a></li>
					<li><a href="#">Teams</a></li>
					<li><a href="#">Scoreboard</a></li>
					<li><a href="#">Challenges</a></li>
				</ul>
			</div>
			<div class="navigationBarRight">
				<ul>
					<li><a href="#">Logout</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Team</a></li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>