{% extends 'navigationbar.html' %}

{% load staticfiles %}

{% block title %}
	<title>Challenges</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/challenges.css' %}">
{% endblock %}

{% block custombody %}

	<!-- challenges display -->
	<div id="challenges">
		<div class="container">
			<div class="challengesSet">
				
				<div id="category1">
					<div class="heading">
						<h2>Category 1</h2>
					</div>
					<div class="categorySet">
						<table>
							<tbody>
								<tr>
									<td>Challenge 1</td>
									<td>Challenge 2</td>
									<td>Challenge 3</td>
									<td>Challenge 4</td>
									<td>Challenge 5</td>
								</tr>
								<tr>
									<td>Challenge 6</td>
									<td>Challenge 7</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div id="category2">
					<div class="heading">
						<h2>Category 2</h2>
					</div>
					<div class="categorySet">
						<table>
							<tbody>
								<tr>
									<td>Challenge 1</td>
									<td>Challenge 2</td>
									<td>Challenge 3</td>
									<td>Challenge 4</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div id="category3">
					<div class="heading">
						<h2>Category 3</h2>
					</div>
					<div class="categorySet">
						<table>
							<tbody>
								<tr>
									<td>Challenge 1</td>
									<td>Challenge 2</td>
									<td>Challenge 3</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				{% for mission in data_stego %}
					<div>
						{{ mission.name }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}