{% extends 'navigationbar.html' %}

{% load staticfiles %}

{% block title %}
	<title>Scoreboard</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'score.css' %}">
{% endblock %}

{% block custombody %}
	
	<div class="container">
		<div id="score">
			<h3>Scoreboard</h3>
			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Team Name</th>
							<th>Points</th>
						</tr>
					</thead>
					<tbody>
						{% for t in teams_list %}
						<tr>
							<td>
								{{ t.teamname }}
							</td>
							<td>
								{{ t.points }}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}