{% extends 'navigationbar.html' %}

{% load staticfiles %}

{% block title %}
	<title>Team Details</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block custombody %}
	
	<div id="pageHeading">
		<p>Profile</p>
	</div>

	<div class="container">
		<div id="updateForm">
			{% if request.method == 'POST' %}
				{% if success %}
					<div id="formSuccess">
						<p>Details Updated</p>
					</div>
				{% else %}
					<div id="formFailure">
						<p>Some Error Occured</p>
					</div>
				{% endif %}
			{% endif %}
			<p><b>Team Name</b> : {{ user.username }}</p>
			<p><b>Team Email</b> : {{ user.email }}</p>
			<form method="post">
				{% csrf_token %}
				{% for fields in form %}
					<div>
						<label>{{ fields.label }}</label>
						{{ fields }}
					</div>
				{% endfor %}

				<input type="submit" name="update" value="Update" class="updateFormButton">
			</form>
		</div>
		<div style="text-align: center;">
			<a href="changepassword/">Change Password</a>
		</div>
	</div>

{% endblock %}