body {
	background-color: #efe;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

#navigationBar {
	width: 100%;
	height: 80px;
	background-color: #444;
	color: #999;
}

#navigationBar a:hover {
	color: #eee;
}

.navigationBarLeft , .navigationBarRight {
	width: 40%;
	line-height: 80px;
	background-color: #444;
}

.navigationBarLeft {
	float: left;
}

.navigationBarRight {
	float: right;
}

.navigationBarLeft ul , .navigationBarRight ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigationBarLeft ul li , .navigationBarRight ul li {
	padding-right: 2em;
}

.navigationBarLeft ul li {
	float: left;
}

.navigationBarLeft ul li:first-child {
	color: #eee;
	font-weight: bold;
	font-size: 24px;
}

.navigationBarRight ul li {
	float: right;
}

.navigationBarRight ul li:first-child {
	display: none;
}

@media screen and (max-width: 1200px) {

	.navigationBarLeft ul li:not(:first-child), .navigationBarRight ul li:not(:first-child) {
		display: none;
		width: 100%;
	}

	.navigationBarRight ul li:first-child {
		display: inline-block;
		cursor: pointer;
		float: right;
	}

	.navigationBarLeft, .navigationBarRight {
		width: 50%;
	}

	.container {
		padding: 0;
	}

	li {
		padding-left: 10px;
	}
}