<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width" , initial-scale=1, viewport-fit="cover">
    <meta name="description" content="Register your team here">
	<title>Register</title>

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navigationbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/registerandlogin/registerandlogin.css' %}">

</head>
<body>

	<!-- Navigation bar -->
	<div id="navigationBar">
		<div class="container">
			<div class="navigationBarLeft">
				<ul>
					<li><a href="#">MiniCTF</a></li>
					<li><a href="#">Teams</a></li>
					<li><a href="#">Scoreboard</a></li>
					<li><a href="#">Challenges</a></li>
				</ul>
			</div>
			<div class="navigationBarRight">
				<ul>
					<li><a href="#">Login</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Team</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Register here -->
	<div id="register">
		<div class="registerTop">
			<table>
				<tbody>
					<tr>
						<td style="color:#fff; background-color: #44e"><a href=""><span>LOGIN</span></a></td>
						<td><a href="http://127.0.0.1:8000/register/"><span>REGISTER</span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="registerForm">
			<form action="" method="post">
				<div class="form-group">
					<input type="text" name="teamname" placeholder="Team Name" required class="form-control">
				</div>
				<div class="form-group">
					<input type="email" name="email" placeholder="Team Email" required class="form-control">
				</div>
				<div class="form-group">
					<input type="password" name="password" placeholder="Password" required class="form-control">
				</div>
				<input type="submit" name="submit" value="Register" class="submitButton">
			</form>
		</div>
	</div>

</body>
</html>