#teamList {
	margin: 2% 0;
	text-align: center;
}

table {
	margin-top: 2%;
	text-align: left;
}

table tbody tr td:first-child {
	color: #008cba;
}

table th {
	color: #222;
}

#pageHeading {
	width: 100%;
	height: 100px;
	background-color: #444;
	color: #eee;
	text-align: center;
	line-height: 80px;
	vertical-align: middle;
	font-size: 32px;
	font-weight: bold;
	font-family: 'Raleway';
	letter-spacing: 2px;
}
