#challenges {
	margin-top: 5%;
	color:#000;
}

.challengesSet {
	width: 100%;
	padding: 20px 0;
}

.heading {
	margin-bottom: 25px;
}

#crypto, #for, #pwn, #re, #stego, #web {
	border: 4px double #aaa;
	padding: 10px;
	margin-bottom: 50px;
	background-color: #eee;
	box-shadow: 5px 10px 8px 5px #aaa;
}

.mission {
	height: 100px;
	width: 300px;
	display: inline-block;
	background-color: #f54;
	transition: 0.5s;
	text-align: center;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	padding-top: 10px;
	margin-right: 25px;
	margin-bottom: 10px;
}

.mission:hover {
	background-color: #66f;
	color: #fff;
}

.modal {
	margin-top: 10%;
}