{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width" , initial-scale=1, viewport-fit="cover">
	
	{% block title %}
	{% endblock %}

	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navigationbar.css' %}">

	{% block customcss %}
	{% endblock %}

</head>
<body>

	<!-- Navigation bar -->
	<div id="navigationBar">
		<div class="container">
			<div class="navigationBarLeft">
				<ul>
					<li><a href="/">MiniCTF</a></li>
					<li class="des"><a href="/teams">Teams</a></li>
					<li class="des"><a href="/scoreboard/">Scoreboard</a></li>
					<li class="des"><a href="/challenges/">Challenges</a></li>
				</ul>
			</div>
			<div class="navigationBarRight">
				<ul>
					<li id="navbarToggle">MENU</li>
					{% if request.user.is_authenticated %}
						<li class="des"><a href="/accounts/logout">Logout</a></li>
					{% else %}
						<li class="des"><a href="/accounts/login">Login</a></li>
					{% endif %}
					<li class="des"><a href="/accounts/profile">Profile</a></li>
					<li class="des"><a href="#">Team</a></li>
				</ul>
			</div>
		</div>
	</div>

	{% block custombody %}
	{% endblock %}

	<script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>

</body>
</html>