#register {
	width: 400px;
	max-width: 100%;
	height: auto;
	margin: 10% auto;
	background-color: #eee;
}

.registerTop {
	width: 100%;
	border-bottom: 4px solid #44e;
}

.registerTop td {
	width: 50%;
	text-align: center;
	height: 60px;
	font-size: 20px;
	cursor: pointer;
	color: #44e;
	background-color: #fff;
	transition: 0.5s;
	font-weight: bold;
}

.registerTop table tbody tr td:first-child {
	border-right: 2px solid #44e;
}

.registerTop td:hover {
	background-color: #44e;
	color: #fff;
}

.registerForm {
	margin-top: 20px;
}

table {
	width: 100%;
}

span {
	display: inline-block;
	width: 100%;
}

.submitButton {
	width: 100%;
	height: 40px;
	font-size: 20px;
	border: 0;
	color: #fff;
	background-color: #44e;
	border-radius: 5px;
	transition: 0.5s;
}

.submitButton:hover {
	color: #44e;
	background-color: #eee;
	border: 2px solid #44e;
	font-weight: bold;
}